FRONTEND_IMAGE=registry.cn-hangzhou.aliyuncs.com/sanenchen/goalgo:frontend-latest
GATEWAY_IMAGE=registry.cn-hangzhou.aliyuncs.com/sanenchen/goalgo:gateway-latest
USER_IMAGE=registry.cn-hangzhou.aliyuncs.com/sanenchen/goalgo:user-latest
CORE_DATA_IMAGE=registry.cn-hangzhou.aliyuncs.com/sanenchen/goalgo:core-data-latest
AGENT_IMAGE=registry.cn-hangzhou.aliyuncs.com/sanenchen/goalgo:agent-latest
